<%= turbo_frame_tag "matrix", class: "flex overflow-auto md:py-4" do %>
    <table id="table" class="mx-auto" data-controller="game">
    <% matrix.split("\n").each do |row| %>
        <tr>
        <% row.split('').each do |cell| %>
            <td><%= cell == '*' ? '◾️' : '◽️' %></td>
        <% end %>
        </tr>
    <% end %>
    </table>
<% end %>