<%= turbo_frame_tag "matrix" do %>
    <table id="table" data-controller="game">
    <% matrix.split("\n").each do |row| %>
        <tr>
        <% row.split('').each do |cell| %>
            <td><%= cell == '*' ? '◾️' : '◽️' %></td>
        <% end %>
        </tr>
    <% end %>
    </table>
<% end %>